@model platformAthletic.Models.ViewModels.GroupView
<div class="popup-roster-wrp group">
    <div class="inner-wrp">
        <div class="popup-title">@(Model.ID == 0 ? "Create New Group" : "Edit Group")</div>
        @using (Html.BeginForm("EditGroup", "Schedule", FormMethod.Post, new { id = "EditGroupForm" }))
        {
            @Html.Hidden("ID", Model.ID)
            
            <div class="form">
                <div class="bg-blur-top"></div>
                <div class="item-input">
                    <div class="text">
                    Please enter group name
                    </div>
                </div>
                <div class="item-input">
                    <div class="input">
                        @Html.TextBox("Name", Model.Name, new { @class = "big" })
                    </div>
                </div>
                <div class="item-input">
                    @Html.ValidationMessage("Name")
                </div>
                <div class="bg-blur-bottom"></div>
            </div>
            <div class="button-wrp">
                
                <button class="btn-active primaryColorBg" id="EditGroupBtn">@(Model.ID == 0 ? "Create" : "Edit")</button>
                <button class="btn-gray">Cancel</button>
            </div>
        }
    </div>
</div>
