@model platformAthletic.Model.Team
<div class="col-lg-4 col-xs-12 top-padding col-lg-height schedule-group-wrapper" id="GroupPart">
    <div class="slide-button clickable" id="toggleSlideButton">
        <span class="switch-button menu-left"></span>
    </div>
    <div class="body">
        <button class="btn btn-primary" id="CreateGroupBtn">CREATE GROUP</button>
        <button class="btn btn-default" id="AssignPlayersBtn">ASSIGN PLAYERS</button>
        <div class="assign-list" id="AssignList" style="display: none;">
            <div class="item" data-id="0">
                @Model.Name
            </div>
            @foreach (var group in Model.SubGroups)
            {
                <div class="item" data-id="@group.ID">
                    @group.Name
                </div>
            }
        </div>

        <div class="group-list">
            <div class="team">
                <div class="header" data-id="@Model.ID">
                    @Model.Name
                    <div class="drop-down"></div>
                </div>
                <div class="body" style="display: none;">
                    @foreach (var user in Model.SubUngroupUsers)
                    {
                        <div class="item" data-id="@user.ID">
                            <div class="pull-left">
                                <div class="styled-checkbox">
                                    <input type="checkbox" data-id="@user.ID" id="Team_@user.ID" />
                                    <label for="Team_@user.ID"></label>
                                </div>
                            </div>
                            <div class="name">
                                @user.LastName, @user.FirstName
                            </div>
                        </div>
                    }
                </div>
            </div>
            @foreach (var group in Model.SubGroups)
            {
                <div class="group">

                    <button class="btn btn-empty remove-group" data-id="@group.ID">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                    <button class="btn btn-empty edit-group" data-id="@group.ID">
                        <span class="glyphicon glyphicon-cog"></span>
                    </button>
                    <div class="header header-group" data-id="@group.ID">
                        @group.Name
                        <div class="drop-down"></div>
                    </div>
                    <div class="body" style="display: none;">
                        @foreach (var user in group.SubUsers)
                        {
                            <div class="item" data-id="@user.ID">
                                <div class="pull-left">
                                    <div class="styled-checkbox">
                                        <input type="checkbox" data-id="@user.ID" id="Group_@user.ID" />
                                        <label for="Group_@user.ID"></label>
                                    </div>
                                </div>
                                <div class="name">
                                    @user.LastName, @user.FirstName
                                </div>
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
</div>