@model platformAthletic.Models.ViewModels.PersonalCalendarInfo

@Html.Hidden("Month", Model.Month.ToString("MM\\dd\\yyyy"))

<div class="row calendar-wrapper">
    <h1 class="text-center">
        @Model.User.FirstName @Model.User.LastName
    </h1>
    <div class="panel attendance-panel">
        <div class="pull-left">
            <a class="btn personal-scheduleMonth" data-month="@Model.Month.AddMonths(-1)"><span class="glyphicon glyphicon-arrow-left"></span></a>
        </div>
        <div class="pull-right">
            <a class="btn scheduleMonth" data-month="@Model.Month.AddMonths(1)"><span class="glyphicon glyphicon-arrow-right"></span></a>
        </div>
        <h1 class="text-center">@Model.Month.ToString("MMMM yyyy").ToUpper()</h1>
    </div>

    <table class="table table-calendar">
        <thead>
            <tr>
                <th>Sun</th>
                <th>Mon</th>
                <th>Tue</th>
                <th>Wed</th>
                <th>Thu</th>
                <th>Fri</th>
                <th>Sat</th>
            </tr>
        </thead>
        <tbody>
            @{
                var currentSunday = Model.Month.AddDays(6).StartOfWeek(DayOfWeek.Sunday);
            }
            @while (currentSunday.Month == Model.Month.Month)
            {
                @Html.Action("PersonalCalendarRow", "Schedule", new { date = currentSunday })
                currentSunday = currentSunday.AddDays(7);
            }
        </tbody>
    </table>
    <div class="calendar-drop-down-list" style="display: none;">
        <div class="list-title">
            @foreach (var season in Model.Seasons)
            {
                <div class="season @(season.ID == Model.Season.ID ? "selected" : "")" data-id="@season.ID">
                    @season.Name.ToUpper()
                </div>
            }
        </div>
        @foreach (var season in Model.Seasons)
        {
            <div class="season-data" data-id="@season.ID" style="display: @(season.ID == Model.Season.ID ? "block" : "none");">
                <div class="list">
                    @foreach (var item in season.Macrocycles)
                    {
                        <div class="item personal-item" data-id="@item.ID">
                            @item.Name
                        </div>
                    }
                </div>
            </div>
        }
    </div>
</div>
