@model platformAthletic.Models.ViewModels.CalendarRowInfo
@{
    var diffWeeks = (Model.CurrentSunday - DateTime.Now.Current().StartOfWeek(DayOfWeek.Sunday)).TotalDays / 7;
}
@if (Model.Macrocycle != null)
{
    <tr class="edit-wrapper">
        <td>
            <button class="edit-week" data-id="@Model.NumberOfWeek" data-date="@Model.CurrentSunday" data-macrocycle="@Model.Macrocycle.ID">
                Edit Week
                <div class="drop-down"></div>
            </button>
        </td>
        <td colspan="6">
            <div class="week-name">
                @Model.Macrocycle.Name

            </div>
            @*@if (diffWeeks > -13 && diffWeeks < 12)*@
            @if (diffWeeks > -13)
            {
                <a class="preview-workout" target="_blank" href="@Url.Action("Preview", "Table", new {macrocycleId = Model.Macrocycle.ID})">View Workout</a>
            }
        </td>
    </tr>
    <tr class="numbers">
        <td>
            @Model.CurrentSunday.Day
        </td>
        <td>
            @Model.CurrentSunday.AddDays(1).Day
        </td>
        <td>
            @Model.CurrentSunday.AddDays(2).Day
        </td>
        <td>
            @Model.CurrentSunday.AddDays(3).Day
        </td>
        <td>
            @Model.CurrentSunday.AddDays(4).Day
        </td>
        <td>
            @Model.CurrentSunday.AddDays(5).Day
        </td>
        <td>
            @Model.CurrentSunday.AddDays(6).Day
        </td>
    </tr>
}
else
{
    <tr class="edit-wrapper">
        <td>
            &nbsp;
        </td>
        <td colspan="6">
            &nbsp;
        </td>
    </tr>
    <tr class="numbers">
        <td>
            @Model.CurrentSunday.Day
        </td>
        <td>
            @Model.CurrentSunday.AddDays(1).Day
        </td>
        <td>
            @Model.CurrentSunday.AddDays(2).Day
        </td>
        <td>
            @Model.CurrentSunday.AddDays(3).Day
        </td>
        <td>
            @Model.CurrentSunday.AddDays(4).Day
        </td>
        <td>
            @Model.CurrentSunday.AddDays(5).Day
        </td>
        <td>
            @Model.CurrentSunday.AddDays(6).Day
        </td>
    </tr>
}