@model PostView

<div class="edit-post-wrapper">
    @using (Html.BeginForm("EditPost", "Post", FormMethod.Post, new { id = "EditPostForm" }))
    {
        <div class="error">
            @Html.ValidationSummary(true)
        </div>
        @Html.Hidden("ID", Model.ID)
        @Html.Hidden("TitleImagePath", Model.TitleImagePath)
        <div class="form-group">
            @Html.TextBox("Header", Model.Header, new { @class = "form-control", placeholder = "Title" })
            @Html.ValidationMessage("Header")
        </div>
        <div class="form-group">
            <div class="btn btn-primary" id="AddImage">ADD TITLE IMAGE</div>

            <div class="btn btn-primary" id="AddVideo">ADD VIDEO</div>
        </div>
        <div class="form-group">
            <img src="@Model.TitleImagePath?w=400&h=300&mode=crop&scale=both" id="ImagePreview" style="display: @(!string.IsNullOrWhiteSpace(Model.TitleImagePath) ? "" : "none")" />
            <br />
            <div class="btn btn-default margin-top" style="display: @(!string.IsNullOrWhiteSpace(Model.TitleImagePath) ? "" : "none")" id="RemoveTitleImage">REMOVE TITLE IMAGE</div>
        </div>
        <div class="form-group" style="@(!string.IsNullOrWhiteSpace(Model.VideoCode) ? "" : "display:none;")" id="VideoCodeWrapper">
            @Html.TextBox("VideoUrl", Model.VideoUrl, new { @class = "form-control", placeholder = "Only Youtube and Vimeo links allowed." })
            @Html.ValidationMessage("VideoUrl")
        </div>
        <div class="form-group">
            @Html.TextArea("Text", Model.Text, new { @class = "form-control", style="height:205px;" })
            @Html.ValidationMessageFor(m => m.Text)
        </div>
        <div class="form-group pull-right">
            <button type="submit" class="btn btn-primary" id="SubmitEditPostBtn">@(Model.ID == 0 ? "ADD POST" : "EDIT POST")</button>
            @if (Model.ID == 0) 
            { 
                <button class="btn btn-default" id="CancelEditPostBtn">CANCEL</button>
            }
            else
            {
                <button class="btn btn-default" id="BackEditPostBtn" data-id="@Model.ID">CANCEL</button>
            }
        </div>
    }
</div>