@model  platformAthletic.Models.Info.CommonReport
@{
    ViewBag.Title = "Report";
    Layout = "~/Areas/Default/Views/Shared/_Layout.cshtml";
    var currentUser = ((platformAthletic.Controllers.BaseController)ViewContext.Controller).CurrentUser;
}
@section header {
    <script type="text/javascript" src="/Media/scripts/default/report.js"></script>
}

<div class="individual-report-wrp all-transparent-wrp">
    <div class="top primaryColorBg">
        <h1>Progress</h1>
    </div>
    <div class="bottom">
        <div class="content-wrp">
            <div class="title">@Model.User.FirstName @Model.User.LastName</div>
            <div class="text">
                Displayed below is your cumulative weight gain for each major lift.
                Click on ‘Create Custom Report’ to see more detailed reports.
            </div>
            <div class="list">
                <div class="item">
                    <div class="name">Squat</div>
                    <div class="@(Model.Squat > 0 ? "icon-plus" : "icon-minus")"></div>
                    <div class="value">@Model.Squat.Round5().ToString("0")</div>
                </div>
                <div class="item">
                    <div class="name">Bench</div>
                    <div class="@(Model.Bench > 0 ? "icon-plus" : "icon-minus")"></div>
                    <div class="value">@Model.Bench.Round5().ToString("0")</div>
                </div>
                <div class="item">
                    <div class="name">Clean</div>
                    <div class="@(Model.Clean > 0 ? "icon-plus" : "icon-minus")"></div>
                    <div class="value">@Model.Clean.Round5().ToString("0")</div>
                </div>
            </div>
            @if (currentUser.FullProgressStartDate.HasValue)
            {
                <div class="since">
                    <div class="title">
                        Results Since: @currentUser.FullProgressStartDate.Value.ToString("d")
                    </div>
                    @if (currentUser.InRoles("individual"))
                    {
                        <button id="ResetProgress">Reset</button>
                    }
                </div>
            }
            <div class="button-wrp">
                <a href="/progress-report" class="btn-active primaryColorBg">Create Custom Report</a>
            </div>
        </div>
    </div>
</div>
