@model platformAthletic.Models.Info.FilterCustomProgressReport
<div class="separate-line"></div>
<div class="chart-wrp clear">
    <div class="chart" id="mainChart">
        CHART
    </div>
    <div class="menu-list">
        <div class="item current">Progress Report</div>
        <div class="item">@Model.SelectListType.FirstOrDefault(p => p.Selected).Text</div>
        @switch (Model.SelectedType)
        {
            case platformAthletic.Models.Info.FilterCustomProgressReport.Type.Team:
            <div class="item">@Model.SelectListTeams.FirstOrDefault(p => p.Selected).Text</div>        
                break;
            case platformAthletic.Models.Info.FilterCustomProgressReport.Type.Position:
            <div class="item">@Model.SelectListFieldPositions.FirstOrDefault(p => p.Selected).Text
            </div>        
                break;
            case platformAthletic.Models.Info.FilterCustomProgressReport.Type.Individual:
            <div class="item">@(Model.SelectListUsers.FirstOrDefault(p => p.Selected) != null ? Model.SelectListUsers.FirstOrDefault(p => p.Selected).Text : "")</div>        
                break;
            case platformAthletic.Models.Info.FilterCustomProgressReport.Type.Group:
            <div class="item">@(Model.SelectListGroups.FirstOrDefault(p => p.Selected) != null ? Model.SelectListGroups.FirstOrDefault(p => p.Selected).Text : "")</div>        
                break;
        }
        <div class="item">@Model.SelectListPeriod.FirstOrDefault(p => p.Selected).Text</div>
        <div class="item">@Model.SelectListWeight.FirstOrDefault(p => p.Selected).Text</div>
    </div>
    <div class="menu-list">
        <div class="item current"></div>
        <div class="item">Total: <span id="total"></span></div>
    </div>
    <div class="print-wrp" id="PrintButton">
        <div class="icon-print"></div>
        <a class="link-button primaryColorBg" href="#">Print</a>
    </div>
</div>
