@model IList<User>

@{
    ViewBag.Title = "Manage Coaches";
    Layout = "~/Areas/Default/Views/Shared/_BootstrapLayout.cshtml";
    var currentUser = ((platformAthletic.Controllers.BaseController)ViewContext.Controller).CurrentUser;
}
@section styles {
    <link href="~/Content/fineuploader.css" rel="stylesheet" />
}
@section header {
    <script src="~/Scripts/jquery.fineuploader-3.0.js"></script>
    <script src="~/Scripts/default/manage-assistant.js"></script>
}
<div class="container-fluid">
    <div class="side-body">
        <div class="breadcrumb">
            <div class="row">
                <div class="col-lg-12 overflow">
                    <ol>
                        <li><a href="/"><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;&nbsp; Home</a></li>
                        <li class="active"><a href="/manage-coaches">Manage Coaches</a></li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="row settings-wrapper">
            <div class="col-lg-2 col-md-2 settings-menu height no-padding-right no-padding-left  hidden-xs hidden-sm">
                @Html.Partial("SettingMenu")
            </div>
            <div class="col-lg-10 col-md-10 col-xs-12 manage-user-wrapper">

                <h2>Manage Coaches</h2>
                <hr/>
                <div class="btn btn-primary btn-lg @(currentUser != null && currentUser.InTestMode ? "forbitBtn" :"")" 
                     data-message="Coaches cannot be added while in test mode" 
                     id="@(currentUser != null && !currentUser.InTestMode ? "Create" : "")">Create</div>
                <br/><br />
                <table class="table table-coaches">
                    <thead>
                        <tr>
                            <th class="hidden-xs">
                                FIRST NAME
                            </th>
                            <th class="hidden-xs">
                                LAST NAME
                            </th>
                            <th class="hidden-xs">
                                EMAIL
                            </th>
                            <th class="hidden-lg hidden-md hidden-sm"> Info</th>
                           
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="name hidden-xs">
                                    <img src="@item.FullAvatarPath?w=24&h=24&mode=crop" class="img-circle" />&nbsp;&nbsp; <span class="user-name">@item.FirstName</span>
                                </td>
                           
                                <td class="hidden-xs">
                                    @item.LastName
                                </td>
                                <td class="hidden-xs">
                                    @item.Email
                                </td>
                                <td class="hidden-lg hidden-md hidden-sm">
                                    @item.FirstName @item.LastName <br/>
                                    <strong>Email: </strong>@item.Email <br/>
                                    <strong>Phone Number: </strong>@item.PhoneNumber <br />
                                </td>
                                <td>
                                    <div class="pull-right">
                                        <a href="#" class="btn btn-success btn-margin btn-margin-md editUser" data-id="@item.ID">Edit</a>
                                        <a href="#" class="btn btn-primary btn-margin btn-margin-md removeUser" data-id="@item.ID">Remove</a>
                                        <button class="btn btn-success btn-margin btn-margin-md sendActivation" data-id="@item.ID">Send activation</button>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>