@model VideoCollection
@{
    ViewBag.Title = "Video Library";
    Layout = "~/Areas/Default/Views/Shared/_BootstrapLayout.cshtml";
}
@section styles {
    <link href="~/Content/jquery.mCustomScrollbar.css" rel="stylesheet" />
}
@section header {
    <script src="~/Scripts/hogan.js"></script>
    <script src="~/Scripts/typeahead.jquery.js"></script>
    <script src="~/Scripts/jquery.mCustomScrollbar.js"></script>
    <script src="~/Scripts/default/video-library.js"></script>
    <script src="~/Scripts/youtube-resizer.js"></script>
}

@Html.Hidden("SortType", Model.SortType)
<div class="container-fluid fixed-lg">
    <div class="side-body height-lg">
        <div class="breadcrumb">
            <div class="row">
                <div class="col-lg-12 overflow">
                    <ol>
                        <li><a href="/"><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;&nbsp; Home</a></li>
                        <li class="active"><a href="/video">Video Library</a></li>
                    </ol>
                </div>
            </div>
        </div>
        <hr class="video" />
        <div class="row video-wrapper height">
            <div class="col-lg-7 col-md-12 height-lg pull-right" id="VideoWrapper"></div>
            <div class="col-lg-5 col-md-12 height-lg pull-left">
                <br />
                <div class="panel panel-default height-lg">
                    <div class="panel-body no-padding-left no-padding-right height-lg">
                        <div class="row">
                            <div class="pull-right right-padding bottom-padding">
                                @using (Html.BeginForm("Index", "Video", FormMethod.Post))
                                {
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="Search" name="searchString" placeholder="SEARCH" value="@ViewBag.SearchString">
                                        <span class="input-group-btn">
                                            <button class="btn btn-aslink" type="button" id="SearchBtn"><span class="glyphicon glyphicon-search"></span></button>
                                        </span>
                                    </div>
                                }
                            </div>
                        </div>

                        <div class="row">
                            <div class="pull-left left-padding right-padding">
                                <h5>SORT BY</h5>
                            </div>
                            <ul class="nav nav-pills">
                                <li role="presentation" class="@(Model.SortType == VideoCollection.SortTypeEnum.Training ? "active" : "")"><a href="/video">Exercise</a></li>
                                <li role="presentation" class="@(Model.SortType == VideoCollection.SortTypeEnum.Pillar ? "active" : "")"><a href="/video-pillar">Pillar</a></li>
                            </ul>
                        </div>
                        <hr />
                        <div class="video-content height-lg" id="VideoContent">
                            <div class="inside">
                                @if (Model.SortType == VideoCollection.SortTypeEnum.Training)
                                {
                                    foreach (var sortedPart in Model.SortedParts)
                                    {
                                        <h4>@sortedPart.Header</h4>
                                        foreach (var video in sortedPart.List)
                                        {
                                            <div class="item @(video.ID == Model.StartID? "selected": "")" data-id="@video.ID" data-url="video-code">
                                                <div class="row">
                                                    <div class="col-sm-4 col-xs-4">
                                                        <div class="thumbnail">
                                                            <img src="@video.Preview?w=300&h=169&mode=crop" />
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-8 col-xs-8">
                                                        <span class="name">@video.Header</span>
                                                    </div>
                                                </div>

                                            </div>
                                        }
                                    }
                                }
                                else
                                {
                                    <h4>Pillars</h4>
                                    foreach (var sortedPart in Model.SortedParts)
                                    {
                                        foreach (var video in sortedPart.List)
                                        {
                                            <div class="item @(video.ID == Model.StartID ? "selected": "")" data-id="@video.ID" data-url="video-pillar-code">
                                                <div class="row">
                                                    <div class="col-sm-4 col-xs-4">
                                                        <div class="thumbnail">
                                                            <img src="@video.Preview?w=300&h=169&mode=crop" />
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-8 col-xs-8">
                                                        <span class="name">@video.Header</span>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>