@model platformAthletic.Models.ViewModels.User.RegisterTeamView
@{
    ViewBag.Title = "Team registration process - Platform Athletics";
    Layout = "~/Areas/Cms/Views/Shared/_CmsLayoutInner.cshtml";
    var pageParts = ((platformAthletic.Controllers.BaseController)ViewContext.Controller).PageParts;
}
@section header {
    <script type="text/javascript" src="/Media/scripts/select.js"></script>
    <script type="text/javascript" src="/Media/scripts/default/register.js"></script>
    <script type="text/javascript" src="/Media/scripts/new/team-register.js"></script>
    <script type="text/javascript" src="/Media/scripts/cms/cms-team-register.js"></script>
}

<div class="team-register-wrapper">
    <div class="form">
        @Html.Hidden("ModelTypeName", "RegisterTeamView")
        @Html.Hidden("RegisterType", Model.RegisterType)
        @Html.Hidden("PromoCodeID", Model.PromoCodeID)
        @Html.Hidden("Target", Model.Target)
        @Html.Hidden("ID", Model.ID)
        <div class="white-wrapper">
            <div class="block-wrapper">
                <h2>Lets get to work!</h2>

                <div class="left position-relative">
                    @using (Html.BeginForm("Save", "Home", FormMethod.Post))
                    {
                        <div class="referal-code-wrapper editable" id="TeamRegisterReferalText">
                            @pageParts["TeamRegisterReferalText"]
                        </div>

                        <div class="action-wrapper" id="ActionWrapper">
                            <button class="btn btn-primary SaveRouteBtn">Save</button>
                            <button class="btn btn-default CancelBtn">Cancel</button>
                        </div>
                    }
                </div>
                <div class="right">
                    <div class="form-group">
                        <label>School</label>
                        @Html.TextBox("Team.Name", Model.Team.Name)
                    </div>
                    <div class="form-group">
                        <label for="">State</label>
                        @Html.DropDownList("Team.StateID", Model.Team.SelectListStateID, new { @class = "mySelectBoxClass" })
                    </div>
                    <div class="form-group">
                        <label>First name</label>
                        @Html.TextBox("FirstName", Model.FirstName)
                    </div>
                    <div class="form-group">
                        <label>Last name</label>
                        @Html.TextBox("LastName", Model.LastName)
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        @Html.TextBox("Email", Model.Email, new { placeholder = "Will be username" })
                    </div>
                </div>
            </div>
        </div>
        <div class="gray-wrapper">
            <div class="shadow"></div>
            <div class="block-wrapper">
                <div class="form-group-2">
                    <label>Password</label>
                    @Html.Password("Password", Model.Password)
                </div>
                <div class="form-group-2">
                    <label>Phone</label>
                    @Html.TextBox("PhoneNumber", Model.PhoneNumber)
                </div>
                <div class="form-group-2">
                    <label>Repeat password</label>
                    @Html.Password("ConfirmPassword", Model.ConfirmPassword)
                </div>
                <div class="form-group-2">
                    <div class="sub-group">
                        <label>Referral code</label>
                        @Html.TextBox("ReferralCode", Model.ReferralCode, new { @class = "short" })
                        <button class="apply-btn" id="ApplyReferralCode">Apply</button>
                    </div>
                    <div class="sub-group-2">
                        <label>Total</label>
                        @Html.TextBox("TotalSum", Model.TotalSum.ToString("C"), new { @class = "shortest" })
                    </div>
                </div>
            </div>
        </div>
        <div class="clear-wrapper">
            <div class="block-wrapper">
                <div class="form-group">
                    <label>
                        <div class="select">
                            <div class="checkbox-wrp">
                                <div class="checkbox-image"></div>
                                @Html.CheckBox("AgreementTermCondition", Model.AgreementTermCondition, new { @class = "selectCheckBox" })
                            </div>
                        </div>
                        <a href="/term-and-condition" target="_blank">Terms and Conditions</a>
                    </label>
                </div>
                <div class="form-group">
                    <label>
                        <div class="select">
                            <div class="checkbox-wrp">
                                <div class="checkbox-image"></div>
                                @Html.CheckBox("AgreementPrivacyPolicy", Model.AgreementPrivacyPolicy, new { @class = "selectCheckBox" })
                            </div>
                        </div>
                        <a href="/privacy" target="_blank">Privacy Policy</a>
                    </label>
                </div>
                <div class="btn-wrapper">
                    <button class="submit">Start free Trial!</button>
                </div>
            </div>
        </div>
    </div>
</div>