@{
    var currentUser = ((platformAthletic.Controllers.BaseController)ViewContext.Controller).CurrentUser;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-custom.css" rel="stylesheet" />
    <link href="~/Content/datepicker/bootstrap-datepicker3.css" rel="stylesheet" />
    @RenderSection("styles", false)
</head>

<body class="platform">
    @Html.Action("CurrentDate", "Setting")
    <nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header pull-left">
                <a class="navbar-brand" href="/">
                    <img src="~/Content/img/logo.png" />
                </a>
            </div>
            <div class="navbar-header pull-right">
                <ul class="nav navbar-nav navbar-right top-menu">
                    <li>
                        <a href="#" class="btn">
                            <i class="glyphicon glyphicon-envelope"></i>
                            <span class="label label-danger">1</span>
                        </a>

                    </li>
                    <li>
                        <a href="#" class="btn">
                            <i class="glyphicon glyphicon-bell"></i>
                            <span class="label label-danger">21</span>
                        </a>

                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Hello, @currentUser.FirstName @currentUser.LastName <span class="caret"></span></a>
                        @Html.Partial("UserMenu")
                        
                    </li>
                </ul>
            </div>
        </div><!-- /.container-fluid -->
    </nav>
    <div class="row content">
        <div class="side-menu">
            <nav class="navbar navbar-default" role="navigation">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header navbar-fixed-top">
                    <div class="brand-wrapper">
                        <!-- Hamburger -->
                        <button type="button" class="navbar-toggle" id="SideMenuToggle">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                </div>
                <!-- Main Menu -->
              @Html.Partial("MainMenu")
            </nav>
        </div>
        <!-- Main Content -->
        @RenderBody()
    </div>
    <div id="ModalWrapper">
    </div>
    @MiniProfiler.RenderIncludes()
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery.ba-bbq.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/default/common.js"></script>
    <script src="~/Scripts/default/current-date.js"></script>
    @RenderSection("header", false)
</body>
</html>
