@{
    var currentUser = ((platformAthletic.Controllers.BaseController)ViewContext.Controller).CurrentUser;
    var mode = currentUser != null ? (platformAthletic.Model.User.ModeEnum)currentUser.Mode : platformAthletic.Model.User.ModeEnum.Normal;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-custom.css" rel="stylesheet" />
    <link href="~/Content/datepicker/bootstrap-datepicker3.css" rel="stylesheet" />

    @RenderSection("styles", false)
    @Html.Partial("~/Views/Shared/GoogleAnalytics.cshtml")
</head>

<body class="platform">
    @RenderSection("afterbody", false)
    @*@Html.Action("CurrentDate", "Setting")*@
    <nav class="navbar navbar-default navbar-inverse navbar-fixed-top primaryColorBg primaryColorBorder">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header pull-left">
                <a class="navbar-brand" href="/">
                    <img src="~/Content/img/logo_30.png" />
                </a>
            </div>
            <div class="navbar-header pull-left">
                @if (currentUser != null && mode == platformAthletic.Model.User.ModeEnum.Test)
                {
                    <div class="navbar-brand test-mode">You are currently in test mode <span class="glyphicon glyphicon-info-sign clickable" id="ShowTestModeInfo"></span>. To exit test mode, <a class="btn-link" id="StopTestMode">​Click Here</a></div>
                }
            </div>
            <div class="navbar-header pull-right">
                <ul class="nav navbar-nav navbar-right top-menu">
                    @if (currentUser != null)
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle secondaryColorBg text-shadow" data-toggle="dropdown" role="button" aria-expanded="false">Hello, @currentUser.FirstName @currentUser.LastName <span class="caret"></span></a>
                            @Html.Partial("UserMenu")
                        </li>
                        @*<li>
                                <a>@mode</a>
                            </li>*@
                    }
                    else
                    {
                        <li>
                            <a href="/login" class="btn">
                                Login
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div><!-- /.container-fluid -->
    </nav>
    <div class="row content">
        @if (currentUser != null)
        {
            <div class="side-menu">
                <nav class="navbar navbar-default" role="navigation">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header navbar-fixed-top">
                        <div class="brand-wrapper">
                            <!-- Hamburger -->
                            <button type="button" class="navbar-toggle" id="SideMenuToggle">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                    </div>
                    <!-- Main Menu -->
                    @Html.Partial("MainMenu")
                </nav>
            </div>
        }
        <!-- Main Content -->
        @RenderBody()
    </div>
    <div id="ModalWrapper">
    </div>
    @MiniProfiler.RenderIncludes()
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery.ba-bbq.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/default/common.js"></script>
    <script src="~/Scripts/default/current-date.js"></script>
    @if (currentUser != null)
    {

        if (currentUser.Mode == (int)platformAthletic.Model.User.ModeEnum.Todo)
        {
            <script src="~/Scripts/default/todo.js"></script>
        }
        if (currentUser.Mode == (int)platformAthletic.Model.User.ModeEnum.Test)
        {
            <script src="~/Scripts/default/testmode.js"></script>
        }
    }
    @RenderSection("header", false)
    @Html.Action("UserColors", "Home")


</body>

</html>
