@{
    var currentUser = ((platformAthletic.Controllers.BaseController)ViewContext.Controller).CurrentUser;
    var controllerName = ViewContext.RequestContext.RouteData.Values["controller"] as string;
    var actionName = ViewContext.RequestContext.RouteData.Values["action"] as string;
}
<div class="side-menu-container">
    <ul class="nav navbar-nav">
        <li class="@((controllerName == "Home" && actionName == "Index") ? "active" : "")">
            <a href="/">
                <span class="glyphicon glyphicon-home"></span> HOME
            </a>
        </li>
        @if (currentUser.InRoles("coach,assistant"))
        {
            <li class="@(controllerName == "dashboard" ? "active" : "")"><a href="/dashboard"><span class="glyphicon glyphicon-user"></span> DASHBOARD</a></li>
        }
        @if (currentUser.InRoles("player,individual"))
        {
            <li class="@(controllerName == "user" ? "active" : "")"><a href="/user/@currentUser.ID"><span class="glyphicon glyphicon-user"></span> MY PAGE</a></li>
        }
        @if (currentUser.InRoles("coach,assistant,individual"))
        {
        <li class="@(controllerName == "Schedule" ? "active" : "")"><a href="/scheduling"><span class="glyphicon glyphicon-calendar"></span> SCHEDULING</a></li>
        }
        @if (currentUser.InRoles("coach,assistant,player"))
        {
            <li class="@(controllerName == "Report" ? "active" : "")"><a href="/report"><span class="glyphicon glyphicon-list-alt"></span> REPORT</a></li>
        }
        <li class="@(controllerName == "LeaderBoard" ? "active" : "")"><a href="/leaderboard"><span class="glyphicon glyphicon-signal"></span> LEADERBOARD</a></li>
        <li class="@(controllerName == "Video" ? "active" : "")"><a href="/video"><span class="glyphicon glyphicon-play-circle"></span> VIDEO LIBRARY</a></li>
        <li class="@((controllerName == "Help" ||controllerName == "Contact" || controllerName == "Faq") ? "active" : "")"><a href="/getting-started"><span class="glyphicon glyphicon-question-sign"></span> HELP</a></li>
    </ul>

    @if (currentUser != null && currentUser.Mode == (int)platformAthletic.Model.User.ModeEnum.Todo)
    {
        @Html.Action("Todo", "Tutorial");
    }
    else
    {
        <div class="in-touch hidden-xs">
            <div class="title">GET IN TOUCH</div>
            <div class="phone">
                (855) 862-5502
            </div>

        </div>
    }
    <div class="copyright text-center hidden-xs">
        COPYRIGHT 2015<br />
        PLATFORM ATHLETICS, LLC.<br />
        ALL RIGHTS RESERVED.
    </div>
</div><!-- /.navbar-collapse -->