@model IEnumerable<platformAthletic.Model.About>

@{
    ViewBag.Title = "About";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<h2>
	About
</h2>
@Html.ActionLink("Create", "Create", "About", null, new { @class = "btn" })
<table class="table">
	<thead>
		<tr>
			<th>
					#
			</th>
			<th>
				Author
			</th>
			<th>
			</th>
		</tr>
	</thead>
	
	@foreach(var item in Model) {
	<tr>
		<td> 
			@item.ID
		</td>
		<td> 
			@item.Author
		</td>		
		<td>
			@Html.ActionLink("Edit", "Edit", "About", new { id = item.ID }, new { @class = "btn" })
            @Html.ActionLink("Remove", "Delete", "About", new { id = item.ID }, new { @class = "btn" })
		</td>
	</tr>
	}
</table>
