@model platformAthletic.Models.ViewModels.FaqView
@{
    ViewBag.Title = Model.ID == 0 ? "Add Faq" : "Edit Faq";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section header {
    <script type="text/javascript" src="/Media/scripts/admin/file-upload.js"></script>
}
<h2>@(Model.ID == 0 ? "Add Faq" : "Edit Faq")</h2>
<p></p>
@using (Html.BeginForm("Edit", "Faq", FormMethod.Post, new { @class = "form-horizontal" }))
{
	<fieldset>
		@Html.Hidden("ID", Model.ID)

		<div class="control-group">
            <label class="control-label" for="Header">
                Header
			</label>
            <div class="controls">
				@Html.TextBox("Header", Model.Header)
				@Html.ValidationMessage("Header")
            </div>
        </div>
		<div class="control-group">
            <label class="control-label" for="Text">
                Text
			</label>
            <div class="controls">
				@Html.TextArea("Text", Model.Text, new {@class = "htmltext"})
				@Html.ValidationMessage("Text")
            </div>
        </div>
         <div class="control-group">
            <label class="control-label" for="Text">
                Images
            </label>
            <div id="UploadImage">
                Upload 
            </div>
        </div>
        <ul class="thumbnails">
            @Html.Action("Index", "File", new { page = 1 })
        </ul>
	   <div class="form-actions">
            <button type="submit" class="btn btn-primary">
                Save
			</button>
            @Html.ActionLink("Cancel", "Index", null, null, new { @class = "btn" })
        </div>
	</fieldset>
}
