@model platformAthletic.Models.ViewModels.BillingInfoView

<fieldset class="billing-info">
    @Html.Hidden("BillingInfo.ID", Model.ID)
    @Html.Hidden("BillingInfo.UserID", Model.UserID)
    <legend>Credit Card Information</legend>
    @Html.ValidationMessage("BillingInfo.Payment")
    <div class="field-group">
        <label>* Name on the Card:</label>
        <div class="control">
            @Html.TextBox("BillingInfo.NameOnCard", Model.NameOnCard)
        </div>
        @Html.ValidationMessage("BillingInfo.NameOnCard")
    </div>
    <div class="field-group">
        <label>* Billing Address:</label>
        <div class="control">
            @Html.TextBox("BillingInfo.BillingAddress", Model.BillingAddress)
        </div>
        @Html.ValidationMessage("BillingInfo.BillingAddress")
    </div>
    <div class="field-group">
        <label>* City:</label>
        <div class="control">
            @Html.TextBox("BillingInfo.City", Model.City)
        </div>
        @Html.ValidationMessage("BillingInfo.City")
    </div>
    <div class="field-group">
        <label>* State:</label>
        <div class="control">
            @Html.DropDownList("BillingInfo.StateID", Model.SelectListStateID, new { @class = "short dropdown-styled" })
        </div>
    </div>
    <div class="field-group">
        <label>* Zip:</label>
        <div class="control">
            @Html.TextBox("BillingInfo.ZipCode", Model.ZipCode, new { @class = "short" })
        </div>
        @Html.ValidationMessage("BillingInfo.ZipCode")
    </div>
    <div class="field-group">
        <label>* Credit Card Type:</label>
        <div class="control">
            @Html.DropDownList("BillingInfo.CardType", Model.SelectListCardType, new { @class = "short card dropdown-styled" })
            <span class="sprite credit-cards"></span>
        </div>

    </div>
    <div class="field-group">
        <label>* Credit Card Number:</label>
        <div class="control">
            @Html.TextBox("BillingInfo.CreditCardNumber", Model.CreditCardNumber)
        </div>
        @Html.ValidationMessage("BillingInfo.CreditCardNumber")
    </div>
    <div class="field-group">
        <label>* Expiration Date:</label>
        <div class="control">
            @Html.DropDownList("BillingInfo.ExpirationMonth", Model.ExpirationMonthSelectList, new { @class = "shorter dropdown-styled" })
            @Html.DropDownList("BillingInfo.ExpirationYear", Model.ExpirationYearSelectList, new { @class = "shorter dropdown-styled" })
        </div>
        @Html.ValidationMessage("BillingInfo.Expiration")
    </div>
    <div class="field-group">
        <label>* CVC:</label>
        <div class="control">
            @Html.TextBox("BillingInfo.CVC", Model.CVC, new { @class = "short" })
        </div>
        @Html.ValidationMessage("BillingInfo.CVC")
    </div>
    <div class="field-group referral-wrapper">
        <label>Referral code:</label>
        <div class="control">
            @Html.TextBox("BillingInfo.ReferralCode", Model.ReferralCode, new { @class = "short", id = "ReferralCodeValue" })
        </div>
        <button class="sprite" id="ApplyReferralCode">Apply</button>
        @Html.ValidationMessage("ReferralCode", new  {id="ReferralCodeValidation" })
        <div class="field-validation-error" id="PromoCodeError" style="display :none;">
            Referral code is invalid
        </div>
    </div>
</fieldset>
