@model platformAthletic.Models.ViewModels.User.RegisterTeamView
@{
    ViewBag.Title = "Team registration process - Platform Athletics";
    Layout = "~/Areas/Default/Views/Shared/_BootstrapLayoutNoSide.cshtml";
}
@section header {
    <script type="text/javascript" src="/Scripts/default/register.js"></script>
}
<div class="container">
    <div class="side-body">
        <div class="col-lg-8 col-lg-offset-2 form-register-wrapper">
            @using (Html.BeginForm("RegisterTeam", "Account", FormMethod.Post, new { @class = "form", id = "RegisterForm" }))
            {
                @Html.Hidden("ModelTypeName", "RegisterTeamView")
                @Html.Hidden("RegisterType", Model.RegisterType)
                @Html.Hidden("PromoCodeID", Model.PromoCodeID)
                @Html.Hidden("Target", Model.Target)
                @Html.Hidden("ID", Model.ID)
                <div class="row">
                    <h1>Lets get to work!</h1>
                    <div class="error-message">
                        @Html.ValidationMessage("Agreement")
                    </div>
                    <div class="col-lg-8">
                        <div class="form-group">
                            <label for="School"><span class="required">*</span>School</label>
                            @Html.TextBox("Team.Name", Model.Team.Name, new { @class = "form-control" })
                            @Html.ValidationMessage("Team.Name")
                        </div>
                        <div class="form-group">
                            <label for="Team.StateID"><span class="required">*</span>State</label>
                            <div class="billing-custom-style">
                                @Html.DropDownList("Team.StateID", Model.Team.SelectListStateID, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="FirstName"><span class="required">*</span>First name</label>
                            @Html.TextBox("FirstName", Model.FirstName, new { @class = "form-control" })
                            @Html.ValidationMessage("FirstName")
                        </div>
                        <div class="form-group">
                            <label for="LastName"><span class="required">*</span>Last name</label>
                            @Html.TextBox("LastName", Model.LastName, new { @class = "form-control" })
                            @Html.ValidationMessage("LastName")
                        </div>
                        <div class="form-group">
                            <label for="Email"><span class="required">*</span>Email</label>
                            @Html.TextBox("Email", Model.Email, new { @class = "form-control" })
                            @Html.ValidationMessage("Email")
                        </div>
                        <div class="form-group">
                            <label for="PhoneNumber"><span class="required">*</span>Phone</label>
                            @Html.TextBox("PhoneNumber", Model.PhoneNumber, new { @class = "form-control" })
                            @Html.ValidationMessage("PhoneNumber")
                        </div>
                        <div class="form-group">
                            <label for="Password"><span class="required">*</span>Password</label>
                            @Html.Password("Password", Model.Password, new { @class = "form-control" })
                            @Html.ValidationMessage("Password")
                        </div>
                        <div class="form-group">
                            <label for="ConfirmPassword"><span class="required">*</span>Repeat Password</label>
                            @Html.Password("ConfirmPassword", Model.ConfirmPassword, new { @class = "form-control" })
                            @Html.ValidationMessage("ConfirmPassword")
                        </div>
                        <div class="form-group">
                            <label for="ReferralCode"><span class="required">*</span>Referral code</label>
                            <div class="row">
                                <div class="col-lg-6 no-padding-left">
                                    @Html.TextBox("ReferralCode", Model.ReferralCode, new { @class = "form-control", id = "ReferralCodeValue" })
                                </div>
                                <div class="col-lg-6">
                                    <button class="btn btn-billing" id="ApplyReferralCode">Apply</button>
                                </div>
                            </div>
                            <div class="field-validation-error" id="PromoCodeError" style="display :none;">
                                Referral code is invalid
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Total</label>
                            @Html.TextBox("TotalSum", Model.TotalSum.ToString("C"), new { @class = "form-control", @readonly = "readonly" })
                        </div>

                        <div class="form-group">
                            <label>
                                @Html.CheckBox("AgreementTermCondition", Model.AgreementTermCondition) <a href="/term-and-condition" target="_blank">Terms and Conditions</a>
                            </label>
                        </div>
                        <div class="form-group">
                            <label>
                                @Html.CheckBox("AgreementPrivacyPolicy", Model.AgreementPrivacyPolicy) <a href="/privacy" target="_blank">Privacy Policy</a>
                            </label>
                        </div>

                        <div class="form-group text-center margin-top">
                            <button class="btn btn-primary btn-lg">START FREE TRIAL!</button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>