@model platformAthletic.Models.ViewModels.User.RegisterIndividualView

@{
    ViewBag.Title = "Team registration process - Platform Athletics";
    Layout = "~/Areas/Default/Views/Shared/_BootstrapLayoutNoSide.cshtml";
}
@section header {
    <script type="text/javascript" src="/Scripts/default/register.js"></script>
}

<div class="container">
    <div class="side-body">
        <div class="col-lg-10 col-lg-offset-1 form-register-wrapper">
            @using (Html.BeginForm("RegisterIndividual", "Account", FormMethod.Post, new { @class = "form", id = "RegisterForm" }))
            {
                @Html.Hidden("RegisterType", Model.RegisterType)
                @Html.Hidden("PromoCodeID", Model.PromoCodeID)
                @Html.Hidden("Target", Model.Target)
                @Html.Hidden("ID", Model.ID)
                <div class="row">
                    <h1 class="text-center">Lets get to work!</h1>
                    <div class="error-message">
                        @Html.ValidationMessage("Payment")
                        @Html.ValidationMessage("Agreement")
                    </div>
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="form-group">
                            <label for="FirstName"><span class="required">*</span>First name</label>
                            @Html.TextBox("FirstName", Model.FirstName, new { @class = "form-control" })
                            @Html.ValidationMessage("FirstName")
                        </div>

                        <div class="form-group">
                            <label for="LastName"><span class="required">*</span>Last name</label>
                            @Html.TextBox("LastName", Model.LastName, new { @class = "form-control" })
                            @Html.ValidationMessage("LastName")
                        </div>
                        <div class="form-group">
                            <label for="Email"><span class="required">*</span>Email</label>
                            @Html.TextBox("Email", Model.Email, new { @class = "form-control" })
                            @Html.ValidationMessage("Email")
                        </div>
                        <div class="form-group">
                            <label for="PhoneNumber">Phone</label>
                            @Html.TextBox("PhoneNumber", Model.PhoneNumber, new { @class = "form-control" })
                            @Html.ValidationMessage("PhoneNumber")
                        </div>
                        <div class="form-group">
                            <label for="Team.StateID"><span class="required">*</span>State</label>
                            <div class="billing-custom-style">
                                @Html.DropDownList("IndividualStateID", Model.SelectListStateID, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Password"><span class="required">*</span>Password</label>
                            @Html.Password("Password", Model.Password, new { @class = "form-control" })
                            @Html.ValidationMessage("Password")
                        </div>
                        <div class="form-group">
                            <label for="Password"><span class="required">*</span>Repeat password</label>
                            @Html.Password("ConfirmPassword", Model.ConfirmPassword, new { @class = "form-control" })
                            @Html.ValidationMessage("ConfirmPassword")
                        </div>

                    </div>

                </div>
                <div class="row">
                    <h1 class="text-center">PAYMENT DETAILS</h1>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="BillingInfo.NameOnCard"><span class="required">*</span>Name on card</label>
                            @Html.TextBox("BillingInfo.NameOnCard", Model.BillingInfo.NameOnCard, new { @class = "form-control" })
                            @Html.ValidationMessage("BillingInfo.NameOnCard")
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="BillingInfo.CardType"><span class="required">*</span>Type of card</label>
                            <div class="billing-custom-style">
                                @Html.DropDownList("BillingInfo.CardType", Model.BillingInfo.SelectListCardType, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="BillingInfo.StateID">State</label>
                            <div class="billing-custom-style">
                                @Html.DropDownList("BillingInfo.StateID", Model.BillingInfo.SelectListStateID, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="BillingInfo.City"><span class="required">*</span>City</label>
                            @Html.TextBox("BillingInfo.City", Model.BillingInfo.City, new { @class = "form-control" })
                            @Html.ValidationMessage("BillingInfo.City")
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="BillingInfo.BillingAddress"><span class="required">*</span>Billing Address</label>
                            @Html.TextBox("BillingInfo.BillingAddress", Model.BillingInfo.BillingAddress, new { @class = "form-control" })
                            @Html.ValidationMessage("BillingInfo.BillingAddress")
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="BillingInfo.CreditCardNumber"><span class="required">*</span>Card number</label>
                            @Html.TextBox("BillingInfo.CreditCardNumber", Model.BillingInfo.CreditCardNumber, new { @class = "form-control" })
                            @Html.ValidationMessage("BillingInfo.CreditCardNumber")
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="BillingInfo.ZipCode"><span class="required">*</span>Zip code</label>
                            @Html.TextBox("BillingInfo.ZipCode", Model.BillingInfo.ZipCode, new { @class = "form-control" })
                            @Html.ValidationMessage("BillingInfo.ZipCode")
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-6 no-padding-left">
                                <div class="form-group">
                                    <label for="BillingInfo.ExpirationMonth"><span class="required">*</span>Expiration date</label>
                                    <div class="billing-custom-style">
                                        @Html.DropDownList("BillingInfo.ExpirationMonth", Model.BillingInfo.ExpirationMonthSelectList, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 no-padding-right">
                                <div class="form-group">
                                    <label for="BillingInfo.ExpirationYear">&nbsp;</label>
                                    <div class="billing-custom-style">
                                        @Html.DropDownList("BillingInfo.ExpirationYear", Model.BillingInfo.ExpirationYearSelectList, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="BillingInfo.BillingAddress"><span class="required">*</span>CVC</label>
                            @Html.TextBox("BillingInfo.CVC", Model.BillingInfo.CVC, new { @class = "form-control" })
                            @Html.ValidationMessage("BillingInfo.CVC")
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-6 no-padding-left">
                                <div class="form-group">
                                    <label for="BillingInfo.ExpirationMonth">Referral code</label>
                                    @Html.TextBox("BillingInfo.ReferralCode", Model.BillingInfo.ReferralCode, new { @class = "form-control" })
                                    @Html.ValidationMessage("BillingInfo.ReferralCode")
                                </div>
                            </div>
                            <div class="col-lg-6 no-padding-right">
                                <div class="form-group">
                                    <label>&nbsp;</label>
                                    <button class="btn btn-primary btn-apply" id="ApplyReferralCode">Apply</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>
                                @Html.CheckBox("AgreementTermCondition", Model.AgreementTermCondition) <a href="/term-and-condition" target="_blank">Terms and Conditions</a>
                            </label>
                        </div>
                        <div class="form-group">
                            <label>
                                @Html.CheckBox("AgreementPrivacyPolicy", Model.AgreementPrivacyPolicy) <a href="/privacy" target="_blank">Privacy Policy</a>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="form-group">
                            <label for="FirstName">Price</label>
                            @Html.TextBox("TotalSum", Model.TotalSum.ToString("C"), new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group text-center margin-top">
                        <button class="btn btn-primary btn-lg">START FREE TRIAL!</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>