@model platformAthletic.Models.ViewModels.User.TeamUserView
@{
    ViewBag.Title = "My Account";
    Layout = "~/Areas/Default/Views/Shared/_Layout.cshtml";
    var currentUser = ((platformAthletic.Controllers.BaseController)ViewContext.Controller).CurrentUser;
}
@section header
{
    <script type="text/javascript" src="/Media/scripts/default/jquery.ImageColorPicker.js"></script>
    <script type="text/javascript" src="/Media/scripts/default/edit-team-account.js"></script>
}

<div class="account-wrp account-basic-wrp team-account-basic clear">
    <div class="left">
        <div class="menu all-content-wrp">
            <div class="item selected"><a href="/account">Basic Information</a></div>
            <div class="item"><a href="/settings">Settings</a></div>
            <div class="item"><a href="/change-password">Change password</a></div>
            <div class="item"><a href="/billing">Billing</a></div>
            <div class="item"><a href="/equipment">Equipment Log</a></div>
            @if (currentUser.InRoles("coach"))
            {
                <div class="item"><a href="/manage-players">Manage Players</a></div>
            }

        </div>
    </div>
    <div class="right">
        <div class="top all-content-wrp">
            <h1>Basic information</h1>
        </div>
        @using (Html.BeginForm("Index", "Account"))
        {
            @Html.Hidden("ID", Model.ID)
            @Html.Hidden("Email", Model.Email)
            @Html.Hidden("ModelTypeName", "TeamUserView")
            @Html.Hidden("MinNextSelectDay", Model.MinNextSelectDay.ToString("u"))
            @Html.Hidden("Team.LogoPath", Model.Team.LogoPath)
            @Html.Hidden("Team.PrimaryColor", Model.Team.PrimaryColor)
            @Html.Hidden("Team.SecondaryColor", Model.Team.SecondaryColor)
            <div class="bottom all-transparent-wrp">
                @if (ViewBag.Message != null)
                {
                    <div class="message">
                        <h2>@ViewBag.Message</h2>
                    </div>
                }
                <div class="input-box">
                    <div class="item-input">
                        <div class="name"><span>*</span> Full Name:</div>
                        <div class="input">
                            @Html.TextBox("FullName", Model.FullName)
                        </div>
                        @Html.ValidationMessage("FullName")
                    </div>
                    <div class="item-input">
                        <div class="name">Phone Number:</div>
                        <div class="input">
                            @Html.TextBox("PhoneNumber", Model.PhoneNumber)
                        </div>
                        @Html.ValidationMessage("PhoneNumber")
                    </div>
                    <div class="item-input clear">
                        <div class="name"><span>*</span> State:</div>
                        <div class="input state-select">
                            @Html.DropDownList("Team.StateID", Model.Team.SelectListStateID, new { @class = "dropdown-styled" })
                        </div>
                    </div>
                    <div class="item-input">
                        <div class="name"><span>*</span> Team Name:</div>
                        <div class="input">
                            @Html.TextBox("Team.Name", Model.Team.Name)
                        </div>
                        @Html.ValidationMessage("Team.Name")
                    </div>
                </div>
                <div class="date-box">
                    <div class="title">Choose Start Date of Next Training Season</div>
                    <div class="text">
                        Select @(Model.CurrentSeasonSeasonType == 0 ? "In-Season" : "Off-Season")
                        Start Date
                    </div>
                    <div class="item-input">
                        <div class="input">
                            @Html.TextBox("NextSeasonStartDay", Model.NextSeasonStartDay.HasValue ? Model.NextSeasonStartDay.Value.ToString("d") : "")
                        </div>
                        <div class="button-wrp">
                            <button class="btn-confirm-active" id="ConfirmNextSeasonButton">Confirm</button>
                        </div>
                    </div>
                </div>
                <div class="setcolor-box clear">
                    <div class="color-wrp">
                        <div class="color-picker-wrp">
                            <div class="title">
                                Primary color
                            </div>
                            <div class="color-image">
                                <img src="/Media/images/color_picker_img.png" id="primary_color" alt="color picker"
                                    data-color="@Model.Team.PrimaryColor" />
                            </div>
                        </div>
                        <div class="color-picker-wrp">
                            <div class="title">
                                Secondary color
                            </div>
                            <div class="color-image">
                                <img src="/Media/images/color_picker_img.png" id="secondary_color" alt="color picker"
                                    data-color="@Model.Team.SecondaryColor" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="logo-box">
                    <div class="title">Current Logo</div>
                    <div class="upload-wrp clear">
                        <div class="logo-img" id="LogoImgWrapper">
                            @if (!string.IsNullOrWhiteSpace(Model.Team.LogoPath))
                            {
                                <img src="@Model.Team.LogoPath" />
                            }
                        </div>
                        <div class="button-wrp">

                            <div class="btn-black" id="UploadLogo">
                                @if (string.IsNullOrWhiteSpace(Model.Team.LogoPath))
                                {
                                    <text>Upload New Logo</text>
                                }
                                else
                                {
                                    <text>Upload Logo</text>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="text">
                        <span>Recomended file Type</span><br />
                        For best results please use .png or .gif with the size of 258 x 84. All allowed
                        file types: gif, png, jpeg, jpg.
                    </div>
                </div>
                <div class="button-box clear">
                    <button class="btn-active primaryColorBg">Save</button>
                </div>
            </div>
        }
    </div>
</div>
