@model IEnumerable<platformAthletic.Model.Cycle>

@{
    ViewBag.Title = "Cycle";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<h2>
	Cycle
</h2>
@Html.ActionLink("Create", "Create", "Cycle", null, new { @class = "btn" })
<table class="table">
	<thead>
		<tr>
			<th>
					#
			</th>
            <th>
				Season
			</th>
			<th>
				Name
			</th>
			<th>
			</th>
		</tr>
	</thead>
	
	@foreach(var item in Model) {
	<tr>
		<td> 
			@item.ID
		</td>
        <td> 
			@item.Season.Name
		</td>
		<td> 
			@item.Name
		</td>		
		<td>
			@Html.ActionLink("Edit", "Edit", "Cycle", new { id = item.ID }, new { @class = "btn" })
            @Html.ActionLink("Remove", "Delete", "Cycle", new { id = item.ID }, new { @class = "btn" })
		</td>
	</tr>
	}
</table>
