@model UserInfoView
@{
    var currentUser = ((platformAthletic.Controllers.BaseController)ViewContext.Controller).CurrentUser;
}
@using (Html.BeginForm("EditUserInfo", "User", FormMethod.Post, new { id = "EditUserInfoForm" }))
{
    @Html.Hidden("ID", Model.ID)
    @Html.Hidden("FullAvatarPath", Model.FullAvatarPath)
    @Html.Hidden("AvatarPath", Model.AvatarPath)
    @Html.Hidden("TeamSchoolName", Model.TeamSchoolName)
    @Html.Hidden("TeamStateName", Model.TeamStateName)

    <div class="col-lg-8 col-xs-12 no-padding-left edit-profile-wrapper">
        <table class="table info-table">
            <tr class="hidden-lg hidden-md hidden-sm">
                @* image *@
                <td rowspan="10" class="image">
                    <img src="@(Model.FullAvatarPath)?w=200&h=200&mode=crop&scale=both" />
                </td>
                <td class="value"><strong>First name:</strong>@Html.TextBox("FirstName", Model.FirstName)</td>
            </tr>
            <tr class="hidden-lg hidden-md hidden-sm">
                <td class="value"><strong>Last name:</strong> @Html.TextBox("LastName", Model.LastName)</td>
            </tr>
            <tr class="hidden-lg hidden-md hidden-sm">
                <td class="value"><strong>Gender:</strong> <div class="dropdown-wrapper"> @Html.DropDownList("Gender", Model.SelectListGender)</div></td>
            </tr>
            <tr class="hidden-lg hidden-md hidden-sm">
                <td class="value"><strong>Birthday:</strong>@Html.TextBox("Birthday", Model.Birthday.ToString("MM/dd/yyyy"))</td>
            </tr>
            <tr class="hidden-lg hidden-md hidden-sm">
                <td class="value select-sport select-position" data-id="0">
                    <div class="dropdown-wrapper">
                        @Html.DropDownList("Sports[0].SportID", Model.Sports[0].SelectListSports, new { @class = "full-dropdown" })
                    </div>
                    <div class="dropdown-wrapper">
                        @Html.DropDownList("Sports[0].FieldPositionID", Model.Sports[0].SelectListFieldPositionID, new { @class = "full-dropdown" })
                    </div>
                </td>

            </tr>
            <tr class="hidden-lg hidden-md hidden-sm">

                <td class="value select-sport select-position" data-id="1">
                    <div class="dropdown-wrapper">
                        @Html.DropDownList("Sports[1].SportID", Model.Sports[1].SelectListSports, new { @class = "full-dropdown" })
                    </div>
                    <div class="dropdown-wrapper">
                        @Html.DropDownList("Sports[1].FieldPositionID", Model.Sports[1].SelectListFieldPositionID, new { @class = "full-dropdown" })
                    </div>
                </td>

            </tr>
            <tr class="hidden-lg hidden-md hidden-sm">
                <td class="value select-sport select-position" data-id="2">
                    <div class="dropdown-wrapper">
                        @Html.DropDownList("Sports[2].SportID", Model.Sports[2].SelectListSports, new { @class = "full-dropdown" })
                        </div>
                    <div class="dropdown-wrapper">
                        @Html.DropDownList("Sports[2].FieldPositionID", Model.Sports[2].SelectListFieldPositionID, new { @class = "full-dropdown" })
                        </div>
</td>
            </tr>
            @if (Model.LevelID != null)
            {
                <tr class="hidden-lg hidden-md hidden-sm">
                    <td class="value">
                        <div class="@(Model.IsGradYear ? "half" : "full")">
                            <div class="dropdown-wrapper">@Html.DropDownList("LevelID", Model.SelectListLevel, new { @class = "full-dropdown" })</div>
                        </div>
                        <div class="grad-year half @(Model.IsGradYear ? "" : "hidden")">@Html.TextBox("GradYear", Model.GradYear)</div>
                    </td>
                </tr>
            }
            @if (!currentUser.InRoles("individual"))
            {
                <tr class="hidden-lg hidden-md hidden-sm">
                    <td class="value"><strong>School:</strong> @Model.TeamSchoolName</td>
                </tr>
                <tr class="hidden-lg  hidden-md hidden-sm">
                    <td class="value"><strong>State:</strong> @Model.TeamStateName</td>
                </tr>
            }
        </table>
    </div>
    <div class="col-lg-4 col-xs-12">
        <div class="row">
            <div class="col-sm-12 col-xs-12" id="SbcWrapper">
                @* sbc-data-table *@
                @Html.Action("SbcData", "User", new { id = Model.ID })
            </div>
            <div class="col-sm-12 col-xs-12">
                @* value-data-table *@
                <table class="table value-data-table edit-valuedata-wrapper">
                    <tr>
                        <td class="header">HEIGHT</td>
                        <td class="value">@Html.TextBox("Height", Model.Height) </td>
                        <td class="header">40 YARD DASH</td>
                        <td class="value">@Html.TextBox("_40YardDash", Model._40YardDash)</td>
                    </tr>
                    <tr>
                        <td class="header">WEIGHT</td>
                        <td class="value">@Html.TextBox("Weight", Model.Weight)</td>
                        <td class="header">VERTICAL</td>
                        <td class="value">@Html.TextBox("Vertical", @Model.Vertical)</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
}