@model platformAthletic.Models.ViewModels.UserPillarView

<div class="log-wrp primaryColor primaryColorBorder">
    The Pillars Log
</div>
@using (Html.BeginForm("Pillar", "Player", FormMethod.Post, new {id ="PillarForm" }))
{
    <div class="form-wrp clear">
        <div class="item-input">
            <div class="name">Workout</div>
            <div class="input">
                <div class="select-state">
                    @Html.DropDownList("PillarTypeID", Model.SelectListPillarTypeID, new { @class = "dropdown-styled" })
                </div>
            </div>
            <div class="error"></div>
        </div>
        <div class="item-input">
            <div class="name" id="TextAboveWrapper">@Model.TextAbove</div>
            <div class="input">
                @Html.TextBox("TextValue", Model.TextValue, new {placeholder = @Model.Placeholder})
            </div>
            @Html.ValidationMessage("TextValue")
        </div>
        <div class="item-input">
            <div class="name">Date</div>
            <div class="input">
                @Html.TextBox("AddedDate", Model.AddedDate.ToString("d"))
            </div>
            @Html.ValidationMessage("AddedDate")
        </div>
    </div>
    <div class="button-wrp">
        <button class="btn-active primaryColorBg" id="SubmitPillarBtn">Submit</button>
    </div>
}