@model platformAthletic.Models.ViewModels.BillingInfoView

@Html.Hidden("BillingInfo.ID", Model.ID)
@Html.Hidden("BillingInfo.AutoDebit", Model.AutoDebit)
@Html.Hidden("BillingInfo.UserID", Model.UserID)

@Html.ValidationMessage("BillingInfo.Payment")
<div class="card-box clear">
    <div class="title">Credit Card Information</div>
    <div class="item-input clear">
        <div class="name"><span>*</span> Name On The Card:</div>
        <div class="input">
            @Html.TextBox("BillingInfo.NameOnCard", Model.NameOnCard)
        </div>
        @Html.ValidationMessage("BillingInfo.NameOnCard")
    </div>
    <div class="item-input clear">
        <div class="name"><span>*</span> Billing Address:</div>
        <div class="input">
            @Html.TextBox("BillingInfo.BillingAddress", Model.BillingAddress)
        </div>
        @Html.ValidationMessage("BillingInfo.BillingAddress")
    </div>
    <div class="item-input clear">
        <div class="name"><span>*</span> City:</div>
        <div class="input">
            @Html.TextBox("BillingInfo.City", Model.City)
        </div>
        @Html.ValidationMessage("BillingInfo.City")
    </div>
    <div class="item-input clear">
        <div class="name"><span>*</span> State:</div>
        <div class="select-wrp state-select">
            @Html.DropDownList("BillingInfo.StateID", Model.SelectListStateID, new { @class = "short dropdown-styled" })
        </div>
    </div>
    <div class="item-input clear">
        <div class="name"><span>*</span> Zip:</div>
        <div class="input input-short">
            @Html.TextBox("BillingInfo.ZipCode", Model.ZipCode)
        </div>
        @Html.ValidationMessage("BillingInfo.ZipCode")
    </div>
    <div class="item-input clear">
        <div class="name"><span>*</span> Credit Card Type:</div>
        <div class="select-wrp card-select">
            @Html.DropDownList("BillingInfo.CardType", Model.SelectListCardType, new { @class = "short dropdown-styled" })
        </div>
        <div class="card-type sprite">
        </div>
    </div>
    <div class="item-input clear">
        <div class="name"><span>*</span> Credit Card Number:</div>
        <div class="input">
            @Html.TextBox("BillingInfo.CreditCardNumber", Model.HiddenCreditCardNumber)
        </div>
        @Html.ValidationMessage("BillingInfo.CreditCardNumber")
    </div>
    <div class="item-input clear">
        <div class="name"><span>*</span> Exparation Date:</div>
        <div class="select-wrp date-select">
            @Html.DropDownList("BillingInfo.ExpirationMonth", Model.ExpirationMonthSelectList, new { @class = "short dropdown-styled" })
        </div>
        <div class="select-wrp date-select">
            @Html.DropDownList("BillingInfo.ExpirationYear", Model.ExpirationYearSelectList, new { @class = "shorter dropdown-styled" })
        </div>
    </div>
    <div class="item-input clear">
        <div class="name"><span>*</span> CVC:</div>
        <div class="input">
            @Html.TextBox("BillingInfo.CVC", Model.CVC, new { @class = "short" })
        </div>
        @Html.ValidationMessage("BillingInfo.CVC")
    </div>
    <div class="item-input item-input-left clear">
        <div class="name">Referral Code:</div>
        <div class="input input-medium">
            @Html.TextBox("BillingInfo.ReferralCode", Model.ReferralCode, new { @class = "short", id = "ReferralCodeValue" })
        </div>
        @Html.ValidationMessage("ReferralCode", new { id = "ReferralCodeValidation" })
        <div class="field-validation-error" id="PromoCodeError" style="display: none;">
            Referral code is invalid
        </div>
    </div>
    <div class="btn-apply-wrp">
        <button class="btn-black-90" id="ApplyReferralCode">Apply</button>
    </div>
</div>
