@model platformAthletic.Models.ViewModels.User.PlayerUserView
@{
    ViewBag.Title = "My Account";
    Layout = "~/Areas/Default/Views/Shared/_Layout.cshtml";
}
@section header
{
    <script type="text/javascript" src="/Media/scripts/default/jquery.ImageColorPicker.js"></script>
    <script type="text/javascript" src="/Media/scripts/default/edit-player-account.js"></script>
}

<div class="account-wrp account-basic-wrp team-account-basic clear">
    <div class="left">
        <div class="menu all-content-wrp">
            <div class="item selected"><a href="/account">Basic Information</a></div>
            <div class="item"><a href="/change-password">Change password</a></div>
        </div>
    </div>
    <div class="right">
        <div class="top all-content-wrp">
            <h1>Basic information</h1>
        </div>
        @using (Html.BeginForm("Index", "Account"))
        {
            @Html.Hidden("ID", Model.ID)
            @Html.Hidden("Email", Model.Email)
            @Html.Hidden("ModelTypeName", "PlayerUserView")
            @Html.Hidden("AvatarPath", Model.AvatarPath)
            <div class="bottom all-transparent-wrp">
                @if (ViewBag.Message != null)
                {
                    <div class="message">
                        <h2>@ViewBag.Message</h2>
                    </div>
                }
                <div class="input-box">
                    <div class="item-input">
                        <div class="name"><span>*</span> First Name:</div>
                        <div class="input">
                            @Html.TextBox("FirstName", Model.FirstName)
                        </div>
                        @Html.ValidationMessage("FirstName")
                    </div>
                    <div class="item-input">
                        <div class="name"><span>*</span> Last Name:</div>
                        <div class="input">
                            @Html.TextBox("LastName", Model.LastName)
                        </div>
                        @Html.ValidationMessage("LastName")
                    </div>
                </div>
                <div class="logo-box">
                    <div class="title">Current Picture</div>
                    <div class="upload-wrp clear">
                        <div class="logo-img" id="AvatarImgWrapper">
                            <img src="@Model.FullAvatarPath" />
                        </div>
                        <div class="button-wrp">
                            <div class="btn-black" id="UploadAvatar">Upload Picture</div>
                        </div>
                    </div>
                    <div class="text">
                        <span>Recomended file Type</span><br />
                        For best results please use .png, .gif, jpeg, jpg with the size of 286 x 303.
                    </div>
                </div>
                <div class="button-box clear">
                    <button class="btn-active primaryColorBg">Save</button>
                </div>
            </div>
        }
    </div>
</div>
