@model ChangePasswordView

<div class="row">
    <div class="col-lg-6">
        
            @Html.Hidden("PasswordID", Model.ID)
            <h3>Update password</h3>
            <hr />
            @if (ViewBag.Message != null)
            {
                <div class="message">
                    <h2>@ViewBag.Message</h2>
                </div>
            }
            <div class="form-group">
                <label for="PasswordPassword">Current Password </label>
                @Html.Password("PasswordPassword", Model.Password, new { @class = "form-control" })
                @Html.ValidationMessage("Password")
            </div>
            <div class="form-group">
                <label for="PasswordNewPassword">New Password</label>
                @Html.Password("PasswordNewPassword", Model.NewPassword, new { @class = "form-control" })
                @Html.ValidationMessage("NewPassword")
            </div>
            <div class="form-group">
                <label for="PasswordConfirmPassword">Confirm New Password</label>
                @Html.Password("PasswordConfirmPassword", Model.ConfirmPassword, new { @class = "form-control" })
            </div>

            <div class="form-group">
                <button class="btn btn-primary" id="UpdatePasswordBtn">SUBMIT</button>
            </div>
       
    </div>
</div>