@model platformAthletic.Models.Info.NationalLeaderboard
@{
    ViewBag.Title = "National Leader Board";
    Layout = "~/Areas/Default/Views/Shared/_BootstrapLayout.cshtml";
    var search = (platformAthletic.Models.Info.SearchNationalLeaderboard)ViewBag.Search;
}
@section header {
    <script src="~/Scripts/hogan.js"></script>
    <script src="~/Scripts/typeahead.jquery.js"></script>
    <script src="~/Scripts/default/leaderboard.js"></script>
}
@Html.Hidden("Sort", Model.Search.Sort)
<div class="leaderboard-wrapper">
    <div class="pull-right search-wrapper">
        <div class="input-group">
            <input type="text" class="form-control" id="SearchAthlete" name="searchString" placeholder="SEARCH ATHLETE" value="@ViewBag.SearchString">
            <span class="input-group-btn">
                <button class="btn btn-aslink" type="button" id="SearchBtn"><span class="glyphicon glyphicon-search"></span></button>
            </span>
        </div>
    </div>
    <div class="tabpanel">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="/leaderboard" aria-controls="home" role="tab" data-toggle="tab">NATIONAL LEADERBOARD</a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active">
                <form class="form-inline search-wrapper">
                    <div class="form-group">
                        <div class="select-style">
                            @Html.DropDownList("SportID", Model.Search.SelectListSportID, new { @class = "form-control filter" })
                            <div></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="select-style">
                            @Html.DropDownList("FieldPositionID", Model.Search.SelectListFieldPositionID, new { @class = "form-control filter" })
                            <div></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="select-style">
                            @Html.DropDownList("Gender", Model.Search.SelectListGender, new { @class = "form-control filter" })
                            <div></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="select-style">
                            @Html.DropDownList("Age", Model.Search.SelectListAge, new { @class = "form-control filter" })
                            <div></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="select-style">
                            @Html.DropDownList("Level", Model.Search.SelectListLevelID, new { @class = "form-control filter" })
                            <div></div>
                        </div>
                    </div>
                    @if (Model.Search.ShowGradYear)
                    {
                        <div class="form-group">
                            <div class="select-style">
                                @Html.DropDownList("GradYear", Model.Search.SelectListGradYears, new { @class = "form-control filter" })
                                <div></div>
                            </div>
                        </div>
                    }
                    <div class="form-group">
                        <div class="select-style">
                            @Html.DropDownList("StateID", Model.Search.SelectListStateID, new { @class = "form-control filter" })
                            <div></div>
                        </div>
                    </div>
                </form>
                <br />
                <table class="table">
                    <thead>
                        <tr class="leaderboard-header">
                            <th>RANK</th>
                            <th class="reverse-sortable"><span data-type="Name" class="sort @(Model.Search.Sort == SearchNationalLeaderboard.SortEnum.NameAsc ? "asc" : "") @(Model.Search.Sort == SearchNationalLeaderboard.SortEnum.NameDesc ? "desc" : "")"></span>NAME</th>
                            <th class="sortable"><span data-type="Squat" class="sort @(Model.Search.Sort == SearchNationalLeaderboard.SortEnum.SquatAsc ? "asc" : "") @(Model.Search.Sort == SearchNationalLeaderboard.SortEnum.SquatDesc ? "desc" : "")"></span>SQUAT</th>
                            <th class="sortable"><span data-type="Bench" class="sort @(Model.Search.Sort == SearchNationalLeaderboard.SortEnum.BenchAsc ? "asc" : "") @(Model.Search.Sort == SearchNationalLeaderboard.SortEnum.BenchDesc ? "desc" : "")"></span>BENCH</th>
                            <th class="sortable"><span data-type="Clean" class="sort @(Model.Search.Sort == SearchNationalLeaderboard.SortEnum.CleanAsc ? "asc" : "") @(Model.Search.Sort == SearchNationalLeaderboard.SortEnum.CleanDesc ? "desc" : "")"></span>CLEAN</th>
                            <th class="sortable"><span data-type="Total" class="sort @(Model.Search.Sort == SearchNationalLeaderboard.SortEnum.TotalAsc ? "asc" : "") @(Model.Search.Sort == SearchNationalLeaderboard.SortEnum.TotalDesc ? "desc" : "")"></span>TOTAL</th>
                        </tr>
                    </thead>
                   
                    @Html.Action("NationalTop", "Leaderboard", new { search = Model.Search})
                   
                    <tr class="header">
                        <td colspan="6">CURRENT LEADERS</td>
                    </tr>
                    @foreach (var item in Model.List)
                    {
                        <tr class="item">
                            <td class="rank"><span>@item.Position</span></td>
                            <td class="name"><span class="@((Model.Search.Sort == SearchNationalLeaderboard.SortEnum.NameAsc || Model.Search.Sort == SearchNationalLeaderboard.SortEnum.NameDesc) ? "selected" : "")"><img src="@item.User.FullAvatarPath?w=24&h=24&mode=crop" class="img-circle" />&nbsp;&nbsp; <span class="user-name">@item.User.FirstName @item.User.LastName</span></span></td>
                            <td><span class="@((Model.Search.Sort == SearchNationalLeaderboard.SortEnum.SquatAsc || Model.Search.Sort == SearchNationalLeaderboard.SortEnum.SquatDesc) ? "selected" : "")">@item.Squat.ToString("N0")</span></td>
                            <td><span class="@((Model.Search.Sort == SearchNationalLeaderboard.SortEnum.BenchAsc || Model.Search.Sort == SearchNationalLeaderboard.SortEnum.BenchDesc) ? "selected" : "")">@item.Bench.ToString("N0")</span></td>
                            <td><span class="@((Model.Search.Sort == SearchNationalLeaderboard.SortEnum.CleanAsc || Model.Search.Sort == SearchNationalLeaderboard.SortEnum.CleanDesc) ? "selected" : "")">@item.Clean.ToString("N0")</span></td>
                            <td><span class="@((Model.Search.Sort == SearchNationalLeaderboard.SortEnum.TotalAsc || Model.Search.Sort == SearchNationalLeaderboard.SortEnum.TotalDesc) ? "selected" : "")">@item.Total.ToString("N0")</span></td>
                        </tr>
                    }
                </table>
                <div class="text-center">
                    <ul class="pagination">
                        @Html.PageLinkBootstrap(Model.Search.Page, Model.CountPage, i => @Url.Action("Index", new { Page = i, Sort = Model.Search.Sort, SportID = Model.Search.SportID, StateID = Model.Search.StateID, FieldPositionID = Model.Search.FieldPositionID, Gender = Model.Search.Gender, Age = Model.Search.Age }))
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
