@model IEnumerable<platformAthletic.Model.Level>
@{
    ViewBag.Title = "Level";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<h2>
    Level
</h2>
@Html.ActionLink("Create", "Create", "Level", null, new { @class = "btn" })
<table class="table">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                Name
            </th>
            <th></th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.ID
            </td>
            <td>
                @item.Name
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "Level", new { id = item.ID }, new { @class = "btn" })
                @Html.ActionLink("Remove", "Delete", "Level", new { id = item.ID }, new { @class = "btn" })
            </td>
        </tr>
    }
</table>
