@model platformAthletic.Model.PageableData<platformAthletic.Model.Post>
@{
    ViewBag.Title = "Post";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<h2>Post
</h2>
@Html.ActionLink("Create", "Create", "Post", null, new { @class = "btn" })
<table class="table">
    <thead>
        <tr>
            <th>#
            </th>
            <th>User
            </th>
            <th>Header
            </th>
            <th></th>
        </tr>
    </thead>

    @foreach (var item in Model.List)
    {
        <tr>
            <td>
                @item.ID
            </td>
            <td>
                @item.User.Email @item.User.FirstName
            </td>
            <td>
                @item.Header
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "Post", new { id = item.ID }, new { @class = "btn" })
                @Html.ActionLink("Remove", "Delete", "Post", new { id = item.ID }, new { @class = "btn" })
            </td>
        </tr>
    }
</table>
<div class="pager">
    @Html.PageLinks(Model.PageNo, Model.CountPage, x => Url.Action(Model.Action, new { page = x }))
</div>
