@model Post

<a href="@Url.Action("Index", "Post", new {id = Model.ID })" class="promoted">
    <div class="promoted-post">FEATURED POST</div>
    <div class="img-link">

        @if (!string.IsNullOrWhiteSpace(Model.TitleImagePath))
        {
            <img src="@Model.TitleImagePath?w=210" />
        } else if (!string.IsNullOrWhiteSpace(Model.VideoPreview))
        {
            <img src="@Model.VideoPreview?w=210" />
        }
    </div>

    @*<div class="best-articles">BEST ARTICLES</div>*@
    <h1>@Model.Header</h1>
    <div class="views-count"><span class="glyphicon  glyphicon-eye-open"></span>@Model.CountOfView</div>

</a>
