@model AttendanceReport
@{
    ViewBag.Title = "Attendance Report";
    Layout = "~/Areas/Default/Views/Shared/_BootstrapLayout.cshtml";
    var currentUser = ((platformAthletic.Controllers.BaseController)ViewContext.Controller).CurrentUser;
}
@section styles {
    <link href="~/Content/bootstrap-datepicker3.css" rel="stylesheet" />
}
@section header {
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/jquery.mask.js"></script>
    <script src="~/Scripts/hogan.js"></script>
    <script src="~/Scripts/typeahead.jquery.js"></script>
    <script src="~/Scripts/default/attendance-report.js"></script>

}
<div class="container-fluid">
    <div class="side-body">

        <div class="breadcrumb">
            <div class="row">
                <div class="col-lg-12 col-xs-12 overflow">
                    <ol>
                        <li><a href="/"><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;&nbsp; Home</a></li>
                        <li class="active"><a href="/report">Attendance Report</a></li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="report-wrapper">
            <div class="row">
                <div class="col-lg-9 col-md-12 col-xs-12">
                    <div class="pull-right search-wrapper">
                        <div class="input-group">
                            @*search*@
                            @Html.TextBox("SearchString", Model.Search.SearchString, new { @class = "form-control", id = "SearchAthlete", placeholder = "SEARCH ATHLETE" })
                            <span class="input-group-btn">
                                <button class="btn btn-aslink" type="button" id="SearchBtn"><span class="glyphicon glyphicon-search"></span></button>
                            </span>
                            <a href="#" class="glyphicon glyphicon-remove clear-search"></a>
                        </div>
                    </div>
                    @*panel*@
                    <div class="tabpanel">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="active"><a href="/report">ATTENDANCE REPORT</a></li>
                            <li><a href="/report/progress">PROGRESS REPORT</a></li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active">
                                <form class="form-inline search-wrapper">
                                    @*filter*@
                                    <div class="row">
                                        @if (Model.Search.SelectListSportID.Count() > 1)
                                        {
                                            <div class="form-group col-xs-6 col-sm-4">

                                                <div class="select-style">
                                                    @Html.DropDownList("SportID", Model.Search.SelectListSportID, new { @class = "form-control filter" })
                                                    <div></div>
                                                </div>
                                            </div>
                                        }
                                        @if (Model.Search.SelectListFieldPositionID.Count() > 1)
                                        {
                                            <div class="form-group col-xs-6 col-sm-4">
                                                <div class="select-style">
                                                    @Html.DropDownList("FieldPositionID", Model.Search.SelectListFieldPositionID, new { @class = "form-control filter" })
                                                    <div></div>
                                                </div>
                                            </div>
                                        }
                                        @if (Model.Search.SelectListGroupID.Count() > 1)
                                        {
                                            <div class="form-group col-xs-6 col-sm-4">
                                                <div class="select-style">
                                                    @Html.DropDownList("GroupID", Model.Search.SelectListGroupID, new { @class = "form-control filter" })
                                                    <div></div>
                                                </div>
                                            </div>
                                        }
                                        @if (Model.Search.SelectListGradYear.Count() > 1)
                                        {
                                            <div class="form-group col-xs-6 col-sm-4">
                                                <div class="select-style">
                                                    @Html.DropDownList("GradYear", Model.Search.SelectListGradYear, new { @class = "form-control filter" })
                                                    <div></div>
                                                </div>
                                            </div>
                                        }
                                        <button class="btn btn-primary pull-right clear-filters">Clear All</button>
                                        
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-xs-6 col-sm-4">
                                            @Html.TextBox("StartPeriod", Model.Search.StartPeriod.HasValue ? Model.Search.StartPeriod.Value.ToString("MM/dd/yyyy") : "", new { @class = "form-control filter datetime start-date", placeholder = "Start date" })
                                            <div class="error" style="display:none;" id="StartPeriodError">Please, Select Start Date</div>
                                        </div>
                                        <div class="form-group col-xs-6 col-sm-4">
                                            @Html.TextBox("EndPeriod", Model.Search.EndPeriod.HasValue ? Model.Search.EndPeriod.Value.ToString("MM/dd/yyyy") : "", new { @class = "form-control filter datetime end-date", placeholder = "End date" })
                                            <div class="error" style="display:none;" id="EndPeriodError">Please, Select End Date</div>
                                        </div>
                                    </div>
                                </form>
                                @*table*@
                                @if (Model.List.Count > 0) 
                                {
                                    <table class="table report-table">
                                        <thead>
                                            <tr class="report-header">
                                                <th class="rank">RANK</th>
                                                <th class="reverse-sortable">NAME</th>
                                                <th class="sortable"><span data-type="Week" class="sort @(Model.Search.Sort == SearchAttendanceReport.SortEnum.WeekAsc ? "asc" : "") @(Model.Search.Sort == SearchAttendanceReport.SortEnum.WeekDesc ? "desc" : "")"></span>WEEK</th>
                                                <th class="sortable"><span data-type="Month" class="sort @(Model.Search.Sort == SearchAttendanceReport.SortEnum.MonthAsc ? "asc" : "") @(Model.Search.Sort == SearchAttendanceReport.SortEnum.MonthDesc ? "desc" : "")"></span>MONTH</th>
                                                <th class="sortable"><span data-type="Year" class="sort @(Model.Search.Sort == SearchAttendanceReport.SortEnum.YearAsc ? "asc" : "") @(Model.Search.Sort == SearchAttendanceReport.SortEnum.YearDesc ? "desc" : "")"></span>YEAR</th>
                                                <th class="sortable"><span data-type="AllTime" class="sort @(Model.Search.Sort == SearchAttendanceReport.SortEnum.AllTimeAsc ? "asc" : "") @(Model.Search.Sort == SearchAttendanceReport.SortEnum.AllTimeDesc ? "desc" : "")"></span>@(Model.Search.IsDateFilter ? "SELECTED" : "ALL TIME")</th>

                                            </tr>
                                        </thead>
                                        @foreach (var item in Model.List)
                                        {
                                            <tr class="item @(item.User.ID == Model.Search.StartID ? "selected" : "")" data-id="@item.User.ID">
                                                <td class="rank"><span>@item.Position</span></td>
                                                <td class="name">
                                                    <span class="clickable calendar" data-id="@item.User.ID"></span>
                                                    <span class="userName" data-id="@item.User.ID">
                                                        <img src="@item.User.FullAvatarPath?w=24&h=24&mode=crop" class="img-circle" />&nbsp;&nbsp; <span class="user-name" data-id="@item.User.ID">@item.User.FirstName @item.User.LastName</span>
                                                    </span>
                                                </td>
                                                <td><span class="@((Model.Search.Sort == SearchAttendanceReport.SortEnum.WeekAsc || Model.Search.Sort == SearchAttendanceReport.SortEnum.WeekDesc) ? "selected" : "")">@item.Week</span></td>
                                                <td><span class="@((Model.Search.Sort == SearchAttendanceReport.SortEnum.MonthAsc || Model.Search.Sort == SearchAttendanceReport.SortEnum.MonthDesc) ? "selected" : "")">@item.Month</span></td>
                                                <td><span class="@((Model.Search.Sort == SearchAttendanceReport.SortEnum.YearAsc || Model.Search.Sort == SearchAttendanceReport.SortEnum.YearDesc) ? "selected" : "")">@item.Year</span></td>
                                                <td><span class="@((Model.Search.Sort == SearchAttendanceReport.SortEnum.AllTimeAsc || Model.Search.Sort == SearchAttendanceReport.SortEnum.AllTimeDesc) ? "selected" : "")">@item.AllTime</span></td>
                                            </tr>
                                        }
                                    </table>
                                } else
                                {
                                    <div class="clearfix"></div>
                                    <div class="field-validation-error filter-error">We couldn’t find any results that matched your search criteria. Please modify your search.</div>
                                }
                                <div class="text-center">
                                    @*paging*@
                                    <ul class="pagination">
                                        @Html.PageLinkBootstrap(Model.Search.Page, Model.CountPage, i => @Url.Action("Index", new { Page = i, Sort = Model.Search.Sort, SportID = Model.Search.SportID, FieldPositionID = Model.Search.FieldPositionID, GroupID = Model.Search.GroupID, GradYear = Model.Search.GradYear, StartPeriod = Model.Search.StartPeriod, EndPeriod = Model.Search.EndPeriod }))
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-xs-12">
                    @if (Request.Browser.IsMobileDevice)
                    {
                        @Html.Partial("WorkoutsMobile", Model.WorkoutComplete)
                    }
                    else
                    {
                        @Html.Partial("Workouts", Model.WorkoutComplete)
                    }
                </div>
            </div>
        </div>
    </div>
</div>