@model IEnumerable<platformAthletic.Model.PromoAction>
@{
    ViewBag.Title = "Promo Actions";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section header {
    <script type="text/javascript" src="/Media/scripts/admin/promoaction-list.js"></script>
}
@Html.ActionLink("Create", "Create", "PromoAction", null, new { @class = "btn" })
<table class="table">
    <thead>
        <tr>
            <th>#
            </th>
            <th>Name
            </th>
            <th>Target
            </th>
            <th>Amount
            </th>
            <th>Valid Date
            </th>
            <th>Quantity
            </th>
            <th>Closed
            </th>
            <th></th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.ID
            </td>
            <td>
                @item.Name
            </td>
            <td>
                @((platformAthletic.Model.PromoAction.TargetEnum)item.Target)
            </td>
            <td>
                @item.Amount  @(item.Type == 1 ? "%" : "$")
            </td>
            <td>
                @(item.ValidDate.HasValue ? item.ValidDate.Value.ToString("d") : "none")
            </td>
            <td>
                @item.UsedCodesCount / @item.Quantity
            </td>
            <td>
                @item.Closed
            </td>
            <td>
                <span class="show-promocodes" data-id="@item.ID">Show codes</span>
                <a  href="#generateCodesModal" class="btn generate" role="button" data-toggle="modal" data-id="@item.ID">Generate</a>
                @Html.ActionLink("Edit", "Edit", "PromoAction", new { id = item.ID }, new { @class = "btn" })
                @if (item.CanRemove)
                {
                    @Html.ActionLink("Remove", "Delete", "PromoAction", new { id = item.ID }, new { @class = "btn" })
                }
                else if (item.Closed)
                {
                    @Html.ActionLink("Reopen", "Reopen", "PromoAction", new { id = item.ID }, new { @class = "btn" })
                }
                else
                {
                    @Html.ActionLink("Close", "Close", "PromoAction", new { id = item.ID }, new { @class = "btn" })
                }
               
            </td>
        </tr>
        <tr class="hidden promocodes" data-id="@item.ID">
            <td colspan="8">
                @foreach (var promoCode in item.SubPromoCodes)
                {
                    <span class="label @(promoCode.Used ? "label-important" : "label-info")" title="@(promoCode.Used ? promoCode.UsedDate.Value.ToString("d") : promoCode.AddedDate.ToString("d"))">@promoCode.ReferralCode</span>
                    <text>&nbsp;</text>
                }
            </td>
        </tr>
    }
</table>


<div class="modal small hide fade" id="generateCodesModal" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Generate Promo code</h3>
    </div>
    <div id="GeneratePromoCodeWrapper">
    </div>
</div>
