@model platformAthletic.Models.ViewModels.FeedbackView
@{
    ViewBag.Title = "Contact Us";
    Layout = "~/Areas/Default/Views/Shared/_Layout.cshtml";
    var page = ((platformAthletic.Controllers.BaseController)ViewContext.Controller).Pages["contact_us"];
    var banner = ((platformAthletic.Controllers.BaseController)ViewContext.Controller).Banners["left side banner"];
}
<div class="help-wrp account-wrp clear">
    <div class="left">
        <div class="menu all-content-wrp">
            <div class="item"><a href="/faq">FAQ</a></div>
            <div class="item"><a href="/getting-started">Getting Started</a></div>
            <div class="item selected"><a href="/contact-us">Contact Us</a></div>
        </div>
        @if (banner != null)
        {
            <div class="banner">
                @Html.Raw(banner.Show)
            </div>
        }
    </div>
    <div class="right">
        <div class="top all-content-wrp">
            <h1>Questions</h1>
        </div>
        <div class="bottom all-transparent-wrp clear">
            @using (Html.BeginForm())
            {
                <div class="form-wrp clear">
                    <div class="info-box">
                        @Html.Raw(page)
                    </div>
                    <div class="form-box">
                        <div class="item-input">
                            <div class="name"><span class="text-red">*</span> Name</div>
                            <div class="input">
                                @Html.TextBox("Name", Model.Name)
                            </div>
                            @Html.ValidationMessage("Name")
                        </div>
                        <div class="item-input">
                            <div class="name"><span class="text-red">*</span> Email</div>
                            <div class="input">
                                @Html.TextBox("Email", Model.Email)
                            </div>
                            @Html.ValidationMessage("Email")
                        </div>
                        <div class="item-input">
                            <div class="name">Phone</div>
                            <div class="input">
                                @Html.TextBox("Phone", Model.Phone)
                            </div>
                            @Html.ValidationMessage("Phone")
                        </div>
                        <div class="item-input">
                            <div class="name"><span class="text-red">*</span> School</div>
                            <div class="input">
                                @Html.TextBox("School", Model.School)
                            </div>
                            @Html.ValidationMessage("School")
                        </div>
                        <div class="item-input short-left">
                            <div class="name"><span class="text-red">*</span> City</div>
                            <div class="input-short">
                                @Html.TextBox("City", Model.City)
                            </div>
                            @Html.ValidationMessage("City")
                        </div>
                        <div class="item-input short-right">
                            <div class="name">State</div>
                            <div class="select-state">
                                @Html.DropDownList("StateID", Model.SelectListStateID, new { @class = "dropdown-styled" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bottom-form-box">
                    <div class="item-area">
                        <div class="name"><span class="text-red">*</span> Message</div>
                        <div class="area">
                            @Html.TextArea("Message", Model.Message)
                        </div>
                        @Html.ValidationMessage("Message")
                    </div>
                    <div class="button-wrp clear">
                        <button class="btn-active right primaryColorBg">Send</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
