@model platformAthletic.Models.ViewModels.PhaseView
@{
    ViewBag.Title = Model.ID == 0 ? "Add Phase" : "Edit Phase";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<h2>@(Model.ID == 0 ? "Add Phase" : "Edit Phase")</h2>
<p></p>
@using (Html.BeginForm("Edit", "Phase", FormMethod.Post, new { @class = "form-horizontal" }))
{
	<fieldset>
		@Html.Hidden("ID", Model.ID)

		<div class="control-group">
            <label class="control-label" for="CycleID">
                Cycle
			</label>
            <div class="controls">
				@Html.DropDownList("CycleID", Model.SelectListCycleID)
            </div>
        </div>
		<div class="control-group">
            <label class="control-label" for="Name">
                Name
			</label>
            <div class="controls">
				@Html.TextBox("Name", Model.Name)
                @Html.ValidationMessage("Name")
            </div>
        </div>
	   <div class="form-actions">
            <button type="submit" class="btn btn-primary">
                Save
			</button>
            @Html.ActionLink("Cancel", "Index", null, null, new { @class = "btn" })
        </div>
	</fieldset>
}
