@model IEnumerable<platformAthletic.Model.FieldPosition>

@{
    ViewBag.Title = "Field Position";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<h2>
    Field Position
</h2>
@Html.ActionLink("Create", "Create", "FieldPosition", null, new { @class = "btn" })
<table class="table">
	<thead>
		<tr>
			<th>
					#
			</th>
            <th>
                Sport
            </th>
			<th>
				Code
			</th>
			<th>
				Name
			</th>
			<th>
			</th>
		</tr>
	</thead>
	
	@foreach(var item in Model) {
	<tr>
		<td> 
			@item.ID
		</td>
        <td>
            @item.Sport.Name
        </td>		
		<td> 
			@item.Code
		</td>		
		<td> 
			@item.Name
		</td>		
		<td>
			@Html.ActionLink("Edit", "Edit", "FieldPosition", new { id = item.ID }, new { @class = "btn" })
            @Html.ActionLink("Remove", "Delete", "FieldPosition", new { id = item.ID }, new { @class = "btn" })
		</td>
	</tr>
	}
</table>
