@model PageableData<User>
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Areas/Default/Views/Shared/_BootstrapLayout.cshtml";
    var currentUser = ((platformAthletic.Controllers.BaseController)ViewContext.Controller).CurrentUser;
    var groupId = (int?)ViewBag.GroupId;
    var date = (DateTime)ViewBag.SelectedDate;
}
@section styles {
    <link href="~/Content/tooltipster.css" rel="stylesheet" />
}
@section header {
    <script src="~/Scripts/hogan.js"></script>
    <script src="~/Scripts/typeahead.jquery.js"></script>
    <script src="~/Scripts/jquery.tooltipster.js"></script>
    <script src="~/Scripts/default/extended-dashboard.js"></script>
    <script src="~/Scripts/jquery.mask.js"></script>
    <script src="~/Scripts/default/user-sbc.js"></script>
    <script src="~/Scripts/default/modal-attendance.js"></script>
    <script src="~/Scripts/default/team.js"></script>
    <script src="~/Scripts/default/add-players.js"></script>
}
@Html.Hidden("DateHidden", date.ToString("dd.MM.yyyy"))
@Html.Hidden("CurrentDateHidden", DateTime.Now.Current().ToString("dd.MM.yyyy"))
<div class="container-fluid">
    <div class="side-body">

        <div class="breadcrumb">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-2 overflow">
                    <ol>
                        <li><a href="/"><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;&nbsp; Home</a></li>
                        <li class="active"><a href="/dashboard/extended">Dashboard</a></li>
                    </ol>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <button class="btn btn-success btn-margin" id="PrintSelected"><span class="glyphicon glyphicon-print"></span>&nbsp;&nbsp;PRINT SELECTED ONLY</button>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <button class="btn btn-primary btn-margin" id="PrintAll"><span class="glyphicon glyphicon-print"></span>&nbsp;&nbsp;PRINT ALL WORKOUTS</button>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-2 btn-margin">
                    @using (Html.BeginForm("Extended", "Dashboard", FormMethod.Get))
                    {
                        <input type="text" class="form-control" id="SearchAthlete" name="searchString" placeholder="SEARCH ATHLETE" value="@ViewBag.SearchString">
                    }
                </div>
                @if (ViewBag.SelectedListGroups != null)
                {
                    <div class="col-sm-12 col-md-6 col-lg-2 btn-margin">
                        <div class="custom-style">
                            @Html.DropDownList("GroupId", ViewBag.SelectedListGroups as IEnumerable<SelectListItem>, new { @class = "form-control" })
                            <div></div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="row  row-same-height">
            <div class="col-md-12 top-padding" id="TablePart">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="pull-right relative-btn">
                            <a href="/dashboard"><span class="close-expanded"></span></a>
                        </div>
                        <div class="pull-right">
                            <div class="btn btn-info" id="AddPlayersButton"><span class="glyphicon glyphicon-user"></span> ADD PLAYERS</div>
                        </div>
                        <h3>
                            @currentUser.OwnTeam.Name.ToUpper()
                        </h3>
                    </div>
                </div>
                <table class="table table-extended-players">
                    <thead>
                        <tr>
                            <td>
                                SELECT
                            </td>
                            <td>
                                <p class="attendance-header"><span class="title">ATTENDANCE</span> <span class="glyphicon glyphicon-calendar calendar" id="CalendarButton"></span></p>
                                <p><span class="date" id="CurrentDate" data-date="@date">@date.ToString("MM/dd/yyyy")</span></p>
                            </td>
                            <td>
                                PLAYER NAME
                            </td>
                            <td>
                                SQUAT
                            </td>
                            <td>
                                BENCH
                            </td>
                            <td>
                                CLEAN
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.List)
                        {
                            <tr class="user-item playerItem" data-id="@item.ID">
                                <td>
                                    <div class="styled-checkbox">
                                        <input type="checkbox" class="forPrint" id="Select_@item.ID" data-id="@item.ID" />
                                        <label for="Select_@item.ID"></label>
                                    </div>
                                </td>
                                <td>
                                    <div class="styled-checkbox">
                                        <input type="checkbox" class="AttendanceCheck" data-id="@item.ID" id="Attendance_@item.ID" @(item.HasAttendance(date) ? "checked" : "") />
                                        <label for="Attendance_@item.ID"></label>
                                    </div>
                                </td>
                                <td class="user-name" data-id="@item.ID">
                                    @item.FirstName @item.LastName
                                </td>
                                <td>
                                    <div class="value-wrapper" data-id="@item.ID" data-type="Squat">
                                        <span class="glyphicon glyphicon-minus sbc-change clickable" data-id="@item.ID" data-type="squat" data-value="-5"></span>
                                        <span class="value sbcChange clickable">@item.Squat</span>
                                        <span class="glyphicon glyphicon-plus sbc-change clickable" data-id="@item.ID" data-type="squat" data-value="5"></span>
                                    </div>
                                </td>
                                <td>
                                    <div class="value-wrapper" data-id="@item.ID" data-type="Bench">
                                        <span class="glyphicon glyphicon-minus sbc-change clickable" data-id="@item.ID" data-type="bench" data-value="-5"></span>
                                        <span class="value  sbcChange clickable">@item.Bench</span>
                                        <span class="glyphicon glyphicon-plus sbc-change clickable" data-id="@item.ID" data-type="bench" data-value="5"></span>
                                    </div>
                                </td>
                                <td>
                                    <div class="value-wrapper" data-id="@item.ID" data-type="Clean">
                                        <span class="glyphicon glyphicon-minus sbc-change clickable" data-id="@item.ID" data-type="clean" data-value="-5"></span>
                                        <span class="value  sbcChange clickable">@item.Clean</span>
                                        <span class="glyphicon glyphicon-plus sbc-change clickable" data-id="@item.ID" data-type="clean" data-value="5"></span>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="text-center">
                    <ul class="pagination">
                        @for (int i = 1; i <= Model.CountPage; i++)
                        {
                            <li class="@(i == Model.PageNo ? "active": "")"><a href="@Url.Action("Extended", new {groupId, page = i})">@i</a></li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>